<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104679606598-ok2r2ndunvhho48vs96pmt7rgd09pjbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104679606598-ok2r2ndunvhho48vs96pmt7rgd09pjbn</string>
	<key>API_KEY</key>
	<string>AIzaSyDtGjE-a2zoeP0HSVpzRw2aqMXFGVrRrB4</string>
	<key>GCM_SENDER_ID</key>
	<string>104679606598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.bkaczmar.FinFree</string>
	<key>PROJECT_ID</key>
	<string>portfolioperformance-197aa</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolioperformance-197aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104679606598:ios:e5a8ee5c882abf7864fd47</string>
	<key>DATABASE_URL</key>
	<string>https://portfolioperformance-197aa.firebaseio.com</string>
</dict>
</plist>